
body{
  background-color:#1A132F;
  color:white;
  text-align: center;
  margin:0px;
}
.topnav {
  overflow: hidden;
  background-color: #F7E2E2;
}

.topnav a {
  float: left;
  display: block;
  color: #61A4BC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}

h5
{
    font-family:Lucida Sans Unicode; font-size:20px; text-align:center;
    color: #61A4BC;
  

}
p{
    font-size:large;
    color:#61A4BC ;
     border: dashed #61A4BC ;
     text-align:center;
     line-break:normal;
}
img
{
  width:500px;height:400px; margin-right: 15px;
  position:relative;
}

.lineUp {
    animation: 2s anim-lineUp ease-out infinite;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  /* flipY class and keyframes*/
  .flipY {
    animation-name: spin, depth;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
  }
